<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.101.2" targetFramework="xamarinios10" />
  <package id="AWSSDK.CognitoSync" version="3.3.100.99" targetFramework="xamarinios10" />
  <package id="AWSSDK.Core" version="3.3.103.64" targetFramework="xamarinios10" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.102.2" targetFramework="xamarinios10" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.100.99" targetFramework="xamarinios10" />
  <package id="AWSSDK.S3" version="3.3.106.6" targetFramework="xamarinios10" />
  <package id="AWSSDK.SecurityToken" version="3.3.103.13" targetFramework="xamarinios10" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.101.88" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.0.1" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.0.1" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Validation" version="2.0.6.15003" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="xamarinios10" />
</packages>